<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
   
   
    <div class="container">  
        <div class="logo"> 
            <img src="Bug_Blogs.png"/>
        </div>
            <img src= "home.jpg" alt="home" />
      
       <div class='head'>   
        <h1 >Welcome to Bug-Blogs</h1> 
        <p>What you desire is what you spill through hands </p> 
        </div>
    </div>
</div>   
</body>
</html>

