<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
   
   
    <div class="container">  
        <div class="logo"> 
            <a href="/home"><img src="Bug_Blogs.png"/></a>
        </div>
            <img src= "home.jpg" alt="home" />
      
       <div class='head'>   
        <h1 >Welcome to Bug-Blogs</h1> 
        <p>Connecting ideas and people together. </p> 
        <a href="/blogs">
            <div class="button">
                Next
            </div>
        </div>
    </a>
    </div>
</div>   
</body>
</html>

