<!DOCTYPE html>
<html lang="en">

<body>
    <div className="login">
        <div className='top'>
             <img src="Bug_Blogs.png" alt='' />
        </div>
          <div className="container">
            <form className='form'>
            
            <h1>Sign In</h1>
            <input type="email"  placeholder='Email Address or Phone number' />
            <input type="password"  placeholder='Enter Password'/>
            <button className="loginButton">Sign In</button>
            <span>New to Bug-Byte? <b>Sign up Now!</b></span>
            <small>This page is protected by blah blah </small>
            </form>
          </div>
         </div>    
</body>
</html>